/* ----- ページ全体 ----- */
body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-color: #EBF1DD;
}
p {
	font-size: 14px;
    line-height: 1.429;
}
.headingType-A {
    padding: 12px 30px;
    background-image: url(../images/common/headingType-A.gif);
    background-repeat: no-repeat;
}
.headingType-B {
    padding-left: 10px;
    border-bottom: 2px solid #090;
}
.headingType-C {
    color: #090;
    padding: 4px 10px;
    background-color: #FFF;
    border-left: 1px solid #CCC;
    border-bottom: 2px solid #CCC;
    border-top: 1px solid #CCC;
    border-right: 2px solid #CCC;
}





/* ----- #headerWrapper ----- */
.pankuzuNavi {
    font-size: 12px;
    margin: 15px 0;
}
#headerWrapper {
    background-color: #FFF;
}

/* #headerContents */
#headerContents {
	padding: 10px;
    background-color: #FFF;
}

/* #headerMenu */
#headerMenu {
	clear: both;
    background-color: #090;
}
#headerMenu ul {
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
}
#headerMenu li {
    width: 192px;
    float: left;
    display: inline-block;
}

/* #headerMenuのロールオーバーイメージ */
#headerMenu .menuNewsImg{
    width: 192px;
    height: 50px;
    background-image: url(../images/common/menu_news_over.png);
    background-repeat: no-repeat;
}
#headerMenu .menuPhotoImg {
    width: 192px;
    height: 50px;
    background-image: url(../images/common/menu_photo_over.gif);
    background-repeat: no-repeat;
}
#headerMenu .menuDataImg {
    width: 192px;
    height: 50px;
    background-image: url(../images/common/menu_data_over.gif);
    background-repeat: no-repeat;
}
#headerMenu .menuYmvpImg {
    width: 192px;
    height: 50px;
    background-image: url(../images/common/ymvp_over.png);
    background-repeat: no-repeat;
}
#headerMenu .menuStadiumImg {
    width: 192px;
    height: 50px;
    background-image: url(../images/common/menu_studium_over.png);
    background-repeat: no-repeat;
}
#headerMenu a {
    display: inline-block;
}
#headerMenu a:hover {
    background: none;
}
#headerMenu a:hover img {
    visibility: hidden;
}





/* ----- #bodyWrapper ----- */
#bodyWrapper {
	width: 960px;
	margin: 0 auto;
}
.pageTopBtn {
    position: fixed;
    right: 10px;
    bottom: 30px;
    font-size: 13px;
    font-weight: bold;
    background-image: url(../images/common/top_btn.png);
    background-repeat: no-repeat;
    background-position: 0 30%;
}
.pageTopBtn a {
    color: #FFF;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #090;
}





/* ----- #footerWrapper ----- */
#footerWrapper {
	clear: both;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    background-color: #FFF;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #090;
}
#footerWrapper ul {
    width: 960px;
    overflow: hidden;
    font-size: 12px;
    padding-bottom: 10px;
    margin: 0 auto;
}
#footerWrapper li {
    width: 192px;
	float: left;
}
#copyright {
	text-align: center;
}